@-webkit-keyframes deploying {
  from { background-color: #3498db; }
  to { background-color: inherit; }
}
@-moz-keyframes deploying {
  from { background-color: #3498db; }
  to { background-color: inherit; }
}
@-o-keyframes deploying {
  from { background-color: #3498db; }
  to { background-color: inherit; }
}
@keyframes deploying {
  from { background-color: #3498db; }
  to { background-color: inherit; }
}
.deploying {
  -webkit-animation: deploying 2s infinite; /* Safari 4+ */
  -moz-animation:    deploying 2s infinite; /* Fx 5+ */
  -o-animation:      deploying 2s infinite; /* Opera 12+ */
  animation:         deploying 2s infinite; /* IE 10+ */
}

#side-panel { display: none; }

#main-panel { margin-left: 0px; }

.env-dashboard-popup {
  display: none;
  position: fixed;
  top: 100px;
  bottom: 100px;
  left: 0;
  right: 0;
  min-width: 900px;
  max-width: 90%;
  min-height: 600px;
  max-height: 90%;
  margin: auto;
  padding: 10px;
  background-color: #FEFEFE;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 2px 1px #AAAAAA;
  border-radius: 15px;
  overflow: auto;
}
