@-webkit-keyframes deploying {
  from { background-color: #2F89C5; 
          color: white; }
  to { background-color: #9ACCED;
          color: white;  }
}
@-moz-keyframes deploying {
  from { background-color: #2F89C5; 
          color: white; }
  to { background-color: #9ACCED;
          color: white;  }
}
@-o-keyframes deploying {
  from { background-color: #2F89C5; 
          color: white; }
  to { background-color: #9ACCED;
          color: white;  }
}
@keyframes deploying {
  from { background-color: #2F89C5; 
          color: white; }
  to { background-color: #9ACCED;
          color: white;  }
}
.deploying {
  -webkit-animation: deploying 2s infinite; /* Safari 4+ */
  -moz-animation:    deploying 2s infinite; /* Fx 5+ */
  -o-animation:      deploying 2s infinite; /* Opera 12+ */
  animation:         deploying 2s infinite; /* IE 10+ */
}

#side-panel { display: none; }

#main-panel { width: 100%; }